.form {
  background-color: #152f2e;
  width: 400px;
  height: 650px;
  display: inline-block;
  position: relative;
  top: -120px;
}

.form h3 {
  color: white;
  font-size: 32px;
  line-height: 32px;
  margin: 22px;
}

.form p {
  margin: 0;
  color: white;
  font-size: 15px;
  line-height: 22px;
  font-family: "Mulish", sans-serif;
}

.form .cta_wrapper {
  width: 280px;
  margin: auto;
  padding: 20px 0px 10px;
  text-align: center;
}

.form input,
select {
  padding: 14px;
  border: 1px solid#d8d8d8;
  border-radius: 4px;
  margin: 20px auto 0px;
  width: 280px;
  font-size: 15px;
  line-height: 15px;
  background-color: #fff;
  color: #152f2e;
}

.form .input_wrapper {
  text-align: center;
  padding-bottom: 50px;
}

.form input:focus,
select:focus {
  outline: none;
}

.form select {
  width: 310px;
}

.form button {
  border-style: none;
  border-radius: 5px;
  height: 55px;
  color: #fff;
  width: 310px;
  text-align: center;
  margin: 20px auto 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  background-color: #00c2c5;
}
